language: java
jdk:
- oraclejdk8
services:
- postgresql

before_install:
- psql -c 'create database "hubtraffic-test";' -U postgres

install:
- yarn install

script:
- ./mvnw verify -Dspring.profiles.active=ci -e
- yarn test
